<mat-toolbar>
  <button  mat-button (click)="btnLoadClick()">Load</button>
  <mat-form-field>
    <input matInput type="text" value="grid" (input)="onSearchMaskChanged($event)">
  </mat-form-field>

</mat-toolbar>
<table>
  <thead>
    <td>
      <H3>Найденые элементы</H3>
    </td>
    <td>
      <H3>Выбраные элементы</H3>
    </td>
  </thead>
  <tr>
    <td class="semicolmn">
      <app-project-list-view [items] = "items" [showChecked]="false"></app-project-list-view>
    </td>
    <td class="semicolmn">
      <app-project-list-view [items] = "items" [showChecked]="true"></app-project-list-view>
    </td>
  </tr>
</table>



