<mat-card>
  <mat-card-title>
    <div>{{item.description}}</div>
  </mat-card-title>

<div class="itemContainer">
    <div class="floating">размер </div>
    <div class="floating">{{item.size}}</div>
    <div class="floating">звезд</div>
    <div class="floating">{{item.stargazersCount}}</div>
  <a href="{{item.gitUrl}}"  class="floating">{{item.gitUrl}}</a>
  <input type="checkbox" class="floating" [checked]="item.selected" (click)="onSelectCick($event)">
</div>
<div class="clr"></div>
</mat-card>
